# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL= 'https://edge-config.vercel.com/ecfg_8cfaf5ghtgfjehfdbzsjdvjemlf3?token=909e159e-3fda-41a5-9e14-7af305ee3eb9';
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER= 'HumanMOOn';
POSTGRES_HOST= ''
POSTGRES_PASSWORD= 
POSTGRES_DATABASE= 'learnNext_database';

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth