.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

/* .hideOnDesktop {
    display: block;
}


@media (min-width: 768px) {
    .hideOnDesktop {
        display: none;
    } 
} */